* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", "sans-serif";
  text-align: center;
}

.stock-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.radio-wrapper {
  margin: 16px;
}

.amount-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount-btns {
  margin-right: 16px;
}

.buy-btn,
.sell-btn {
  margin: 8px;
}

.buy-btn input,
.sell-btn input {
  margin-right: 8px;
}
