* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", "sans-serif";
  text-align: center;
  background-color: #ccc;
  color: #000;
}

h1 {
  margin-top: 16px;
}

p {
  width: 500px;
  margin: 0 auto;
}
